kestra/flows/nyc_bikes_parent.yml
id: nyc_bikes_parent
namespace: samples.nyc
description: NYC CitiBike Data Processing - Download, Extract, Convert to Parquet, Upload to GCS

inputs:
  - id: month
    type: STRING
    required: false
    description: "Specify the month to process in YYYYMM format (e.g., 202412). If not provided, the flow will process the previous month based on the trigger date or execution start date."

# No need for a 'variables' block for file_id anymore, as the dynamic expression will be inlined.

tasks:

  # 1️⃣ Download Zip File
  - id: get_zipfile
    type: io.kestra.plugin.core.http.Download
    # The dynamic expression is placed directly in the 'uri' property
    # Ensures the date filter is applied to a non-null date object
    uri: "https://s3.amazonaws.com/tripdata/{{ inputs.month ?? (trigger.date ?? execution.startDate | dateAdd(-1, 'MONTHS') | date('yyyyMM')) }}-citibike-tripdata.zip"

  # 2️⃣ Unzip File (contains multiple CSVs)
  - id: unzip
    type: io.kestra.plugin.compress.ArchiveDecompress
    algorithm: ZIP
    from: "{{ outputs.get_zipfile.uri }}"

  # 3️⃣ Process Each CSV Inside the Zip
  - id: foreach_csv
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{ outputs.unzip.files | values }}"
    tasks:

      # Convert CSV → Ion
      - id: csv_to_ion
        type: io.kestra.plugin.serdes.csv.CsvToIon
        from: "{{ taskrun.value }}"

      # Convert Ion → (Parquet)
      - id: to_parquet
        type: io.kestra.plugin.serdes.parquet.IonToParquet
        from: "{{ outputs.csv_to_ion[taskrun.value].uri }}"
        datetimeFormat: "yyyy-MM-dd HH:mm:ss.SSS"
        schema: |
          {
            "type": "record",
            "name": "Ride",
            "namespace": "com.example.bikeshare",
            "fields": [
              {"name": "ride_id", "type": "string"},
              {"name": "rideable_type", "type": "string"},
              {"name": "started_at", "type": {"type": "long", "logicalType": "timestamp-millis"}},
              {"name": "ended_at", "type": {"type": "long", "logicalType": "timestamp-millis"}},
              {"name": "start_station_name", "type": ["null", "string"], "default": null},
              {"name": "start_station_id", "type": ["null", "string"], "default": null},
              {"name": "end_station_name", "type": ["null", "string"], "default": null},
              {"name": "end_station_id", "type": ["null", "string"], "default": null},
              {"name": "start_lat", "type": ["null", "double"], "default": null},
              {"name": "start_lng", "type": ["null", "double"], "default": null},
              {"name": "end_lat", "type": ["null", "double"], "default": null},
              {"name": "end_lng", "type": ["null", "double"], "default": null},
              {"name": "member_casual", "type": ["null", "string"], "default": null}
            ]
          }

      # Upload Parquet to GCS
      - id: upload_parquet
        type: io.kestra.plugin.gcp.gcs.Upload
        from: "{{ outputs.to_parquet[taskrun.value].uri }}"
        to: "gs://{{ kv('GCP_BUCKET_NAME') }}/nyc_bikes/parquet/year={{ (inputs.month ?? (trigger.date ?? execution.startDate | dateAdd(-1, 'MONTHS') | date('yyyyMM'))) | slice(0,4) }}/month={{ (inputs.month ?? (trigger.date ?? execution.startDate | dateAdd(-1, 'MONTHS') | date('yyyyMM'))) | slice(4,6) }}/{{ taskrun.value | split('/') | last | split('.csv') | first }}.parquet"

  # 4️⃣ Load into BigQuery (after all files are uploaded)
  - id: load_to_bq
    type: io.kestra.plugin.core.flow.Subflow
    namespace: samples.nyc
    flowId: nyc_bikes_gcs_to_bq
    inputs:
      year_month: "{{ (inputs.month ?? (trigger.date ?? execution.startDate | dateAdd(-1, 'MONTHS') | date('yyyyMM'))) | slice(0,4) }}-{{ (inputs.month ?? (trigger.date ?? execution.startDate | dateAdd(-1, 'MONTHS') | date('yyyyMM'))) | slice(4,6) }}"

triggers:
  - id: monthly
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 2 15 * *" # This cron runs on the 15th day of every month at 02:00 UTC.
    timezone: UTC
    # Optional: Add backfill configuration if you want the schedule to automatically process historical data.
    # For example, to backfill from January 1, 2023:
    # backfill:
    #   start: 2023-01-01T00:00:00Z